@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;700;800&family=Righteous&display=swap");

:root {
	--white-color: #fbfef9;
	--black-color: #000004;
	--primary-color: #359381;
	--secondary-color: #65c1b0;
	--accent-color: #003329;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Righteous", sans-serif;
}

body {
	background: var(--white-color);
	min-height: 100dvh;
	overflow-x: hidden;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 2rem;
	color: var(--primary-color);
	pointer-events: none;
	text-shadow: 1px 1px var(--black-color);
}

.navigation a {
	text-decoration: none;
	font-size: 1.1rem;
	color: var(--white-color);
	padding: 6px 15px;
	border-radius: 20px;
	margin: 0 10px;
	font-weight: 600;
	text-shadow: 2px 2.7px 0.5rem var(--black-color);
}

.navigation a:hover {
	background: var(--primary-color);
	color: var(--white-color);
}

.parallax {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100dvh;
}

#text {
	position: absolute;
	font-size: 5rem;
	color: var(--white-color);
	text-shadow: 2.8px 5px 2rem var(--black-color);
}

.parallax img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.sec {
	position: relative;
	background: var(--accent-color);
	padding: 100px;
}

.sec h2 {
	font-size: 3rem;
	color: var(--white-color);
	margin-bottom: 10px;
}

.sec p {
	font-size: 1rem;
	color: var(--white-color);
	font-weight: 300;
}
