@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;700;800&family=Righteous&display=swap");

:root {
	--white-color: #fbfef9;
	--black-color: #000004;
	--primary-color: #359381;
	--secondary-color: #65c1b0;
	--accent-color: #003329;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Righteous", sans-serif;
}

body {
	background: var(--white-color);
	min-height: 100dvh;
	overflow-x: hidden;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 2rem;
	color: var(--primary-color);
	pointer-events: none;
	text-shadow: 1px 1px var(--black-color);
}

.navigation a {
	text-decoration: none;
	font-size: 1.1rem;
	color: var(--white-color);
	padding: 6px 15px;
	border-radius: 20px;
	margin: 0 10px;
	font-weight: 600;
	text-shadow: 2px 2.7px 0.5rem var(--black-color);
}

.navigation a:hover {
	background: var(--primary-color);
	color: var(--white-color);
}

.parallax {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 99.4dvh;
	z-index: -1;
}

#text {
	position: absolute;
	font-size: 5rem;
	color: var(--white-color);
	text-shadow: 2.8px 5px 2rem var(--black-color);
}

.parallax img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.sec {
	position: relative;
	background: var(--accent-color);
	padding: 100px;
}

.sec h2 {
	font-size: 3rem;
	color: var(--white-color);
	margin-bottom: 10px;
}

.sec p {
	font-size: 1rem;
	color: var(--white-color);
	font-weight: 300;
}

.credit {
	padding: 1rem;
	text-align: center;
	background: var(--white-color);
	font-size: 1rem;
	text-transform: capitalize;
}

.credit span {
	font-family: "Righteous", sans-serif;
	color: var(--secondary-color);
	font-weight: bold;
}

.chat-box {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#003329, #359381);
	/* z-index: 0; */
}

.chat-box .container {
	display: flex;
	position: relative;
	margin-top: 3rem;
	margin-bottom: 3rem;
	width: 1200px;
	max-width: 100%;
	height: calc(94dvh - 40px);
	background: var(--white-color);
	box-shadow: 5px 5.8px 0.75rem var(--black-color);
	border-radius: 0.4rem;
}

.chat-box .container .leftside {
	border-top-left-radius: 0.4rem;
	border-bottom-left-radius: 0.4rem;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	position: relative;
	flex: 30%;
	background: var(--secondary-color);
}

.chat-box .container .rightside {
	border-top-right-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	position: relative;
	flex: 70%;
	background: var(--white-color);
}

.chat-box .container .rightside::before {
	border-radius: 0.4rem;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(https://cdn.discordapp.com/attachments/427408408329846786/1186428237635661925/pattern.png?ex=65933666&is=6580c166&hm=88d46701776ef4ecc46190fae0f784a79240623ab723ba05c28c536fcf4f6ce5&);
	opacity: 0.1;
}

.chat-box .container .leftside .header {
	position: relative;
	width: 100%;
	height: 60px;
	background: var(--white-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
}

.leftside .header .roomImg {
	position: relative;
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
	cursor: pointer;
}

.leftside .header .roomImg .cover {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title-chat {
	position: relative;
	width: 100%;
	height: 50px;
	background: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
}

.title-chat div {
	width: 100%;
}
